# Ignore everything...
*

# But include all directories.
!*/

# And include these files.
!.gitignore
!*.cs
!*.csproj
!*.config
!*.resx
!*.*settings*
!Phidget21.NET.dll
!Oracle.DataAccess.dll
!*.png
!*.gif

# But not these..
Temporary*.cs
*BACKUP*.cs
connection.txt
