<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharedClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharedClasses.Properties.Settings>
            <setting name="DB_Server" serializeAs="String">
                <value>192.168.19.17</value>
            </setting>
            <setting name="DB_Service" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_UserID" serializeAs="String">
                <value>SYSTEM</value>
            </setting>
            <setting name="DB_Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DB_Port" serializeAs="String">
                <value>1521</value>
            </setting>
            <setting name="DB_QueryTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FTP_UserID" serializeAs="String">
                <value>TVV</value>
            </setting>
            <setting name="FTP_Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="FTP_Server" serializeAs="String">
                <value>192.168.19.17</value>
            </setting>
        </SharedClasses.Properties.Settings>
    </userSettings>
</configuration>